*{
    margin: 0;
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}

:root{
    --primary-color: black;
    --secondary-color: white;
    --primary-color-transparent: rgba(46, 46, 46, 0.6);
    --secondary-color-transparent: rgba(255, 255, 255, 0.6);
    --gray: #868686;
    --gray-transparent: rgba(32, 32, 32, 0.5);
    --border-radius: 1rem;
}

html{
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

h1::selection, h2::selection, h3::selection, h4::selection, p::selection, b::selection, img::selection, a::selection{
    background-color: var(--primary-color-transparent);
}

/*Header*/

header{
    padding: 3rem 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 10rem;
}

.header-menu{
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color-transparent);
    border-radius: var(--border-radius);
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.menu-line{
    width: 50%;
    height: .15rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    margin: .3rem 0;
}

.header-links{
    display: none;
}

.header-cta{
    height: 3rem;
    min-width: 6rem;
    background-color: var(--secondary-color-transparent);
    border: none;
    outline: none;
    font-weight: 800;
    padding: 0 1.5rem;
    font-size: 1rem;
    border-radius: var(--border-radius);
    margin-right: 3rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

/*Hero Section*/

#hero-section{
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.title img{
    width: 3rem;
}

.title h1{
    font-size: 2.75rem;
    color: var(--secondary-color);
    margin-right: 2rem;
    text-align: center;
}

#hero-section h2{
    color: var(--secondary-color);
    font-size: 1.6rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 200;
    padding: 0 3rem;
}

.buttons{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero-section a{
    width: calc(100vw - 6rem);
    font-size: 1.25rem;
    padding: .75rem 0;
    border-radius: var(--border-radius);
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 800;
    text-decoration: none;
}

.start{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.see-more{
    border: var(--gray) solid .2rem;
    color: var(--gray);
}

/*How it works*/

#how-it-works{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
}

.subtitle{
    font-size: 2rem;
    color: var(--secondary-color);
    padding: 0 3rem;
    text-align: center;
    padding-bottom: 5rem;
}

.content{
    font-size: 1.5rem;
    color: var(--secondary-color);
    padding: 0 3rem;
    text-align: center;
    font-weight: 200;
    padding-bottom: 5rem;
}

.see-demo{
    width: calc(100vw - 6rem);
    font-size: 1.5rem;
    padding: .5rem 0;
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 3rem;
}

/*Why Tapli*/

#why-tapli{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
}

#why-tapli figure{
    width: calc(100vw - 6rem);
    padding: 3rem 0;
    border: var(--secondary-color) solid .2rem;
    border-radius: var(--border-radius);
    margin-bottom: 8rem;
}

#why-tapli figure img{
    height: 8rem;
    display: block;
    margin: auto;
}

#why-tapli figure h4{
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
    padding: 0 2rem;
    margin: 2rem 0;
}

#why-tapli figure p{
    font-size: 1.25rem;
    color: var(--secondary-color);
    text-align: center;
    padding: 0 2rem;
    font-weight: 200;
}

/*----- Responsive -----*/

@media (min-width: 1000px){
    /*Header*/

    header{
        padding: 1rem 0;
        margin: 2rem 0;
        border-radius: var(--border-radius);
        width: 50vw;
        margin-left: 25vw;
        height: 4rem;
        background-color: var(--gray-transparent);
        backdrop-filter: blur(10px);
    }

    .header-menu{
        display: none;
    }

    .header-links{
        display: flex;
    }

    .header-cta{
        min-width: 12.5rem;
        margin-right: .5rem;
        transition: .2s;
    }

    .header-cta:hover{
        background-color: var(--secondary-color);
    }

    /*Hero Section*/

    #hero-section{
        padding-top: 5rem;
    }

    .title img{
        width: 3.5rem;
    }

    .title h1{
        font-size: 3.75rem;
        margin-right: 3rem;
    }

    b{
        font-weight: 800;
    }

    #hero-section h2{
        font-size: 2.5rem;
        width: 50vw;
        margin-bottom: 4rem;
        padding: 0;
    }

    .buttons{
        width: 50vw;
        justify-content: space-between;
        flex-direction: row;
    }

    #hero-section a{
        width: 20vw;
        font-size: 1.5rem;
        padding: .75rem 0;
        margin-bottom: 0;
        transition: .2s;
    }

    .start:hover, .see-more:hover{
        width: 22vw !important;
    }

    /*How it works*/

    #how-it-works{
        width: 50vw;
        margin-left: 25vw;
    }

    .subtitle{
        font-size: 2.75rem;
        padding: 3rem 0;
    }

    .content{
        font-size: 2rem;
        padding: 0;
        padding-bottom: 4rem;
    }

    .see-demo{
        width: 20vw;
        font-size: 1.75rem;
        margin-bottom: 0;
        transition: .2s;
    }

    .see-demo:hover{
        width: 22vw;
    }

    /*Why Tapli*/

    #why-tapli{
        width: 50vw;
        margin-left: 25vw;
    }
    
    .figures{
        width: 50vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    #why-tapli figure{
        width: 20vw;
        padding: 3rem 0;
    }

    #why-tapli figure img{
        height: 8rem;
        display: block;
        margin: auto;
    }

    #why-tapli figure h4{
        font-size: 1.5rem;
        color: var(--secondary-color);
        text-align: center;
        padding: 0 2rem;
        margin: 2rem 0;
    }

    #why-tapli figure p{
        font-size: 1.25rem;
        color: var(--secondary-color);
        text-align: center;
        padding: 0 2rem;
        font-weight: 200;
    }
}